.btn {
    margin: 5px;
    padding: 6px 18px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.5;
    color: blue;
    text-align: center;
    border: none;
    transition: all .25s cubic-bezier(.4, 0, .2, 1);
    border-radius: 10px;
}

.item {
    display: flex;
}